[submodule "MLandDL_polito"]
	path = MLandDL_polito
	url = https://github.com/Enri-gin/MLandDL_polito.git
[submodule "DownloadVWW"]
	path = DownloadVWW
	url = https://github.com/Enri-gin/MLandDL_polito.git
